<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,700,900|Staatliches" rel="stylesheet">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
	<link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.3.2/dist/esri-leaflet-geocoder.css"
    integrity="sha512-IM3Hs+feyi40yZhDH6kV8vQMg4Fh20s9OzInIIAc4nx7aMYMfo+IenRUekoYsHZqGkREUgx0VvlEsgm7nCDW9g=="
    crossorigin="">
	<link rel="stylesheet" href="/css/trix.css">
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>
	<header class="site-header contenedor">
		<a href="/">
			<img src="/img/logo.png" alt="Logo Meeti">
		</a>

		<nav class="nav">
			<a href="#">Crear Grupo</a>
			<a href="/sign-in">Iniciar Sesión</a>
			<a href="/create-account">Registrarse</a>
		</nav>
	</header>

	<!-- passport envía la key: error -->
	<!-- por eso se añadió un nuevo estilo en el css -->
	<% if (locals.messages) { %>
		<% const category = Object.keys(locals.messages) %>
		<% if (category.length) { %>
			<% locals.messages[category].forEach(alert => { %>
				<div class="alertas">
					<p class="alerta <%= category %> "><%= alert %></p>
				</div>
			<% }) %>  
		<% } %>  
	<% } %> 

	<%- body %>

	<footer class="site-footer contenedor">
		<nav class="nav">
			<a href="#">Crear Grupo</a>
			<a href="/sign-in">Iniciar Sesión</a>
			<a href="/create-account">Registrarse</a>
		</nav>

		<p>Todos los derechos reservados <%- locals.year %></p>
	</footer>

	<script src="/js/trix.js"></script>
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
	<script src="https://unpkg.com/esri-leaflet@2.3.3/dist/esri-leaflet.js"
  integrity="sha512-cMQ5e58BDuu1pr9BQ/eGRn6HaR6Olh0ofcHFWe5XesdCITVuSBiBZZbhCijBe5ya238f/zMMRYIMIIg1jxv4sQ=="
	crossorigin=""></script>
	<script src="https://unpkg.com/esri-leaflet-geocoder@2.3.2/dist/esri-leaflet-geocoder.js"
    integrity="sha512-8twnXcrOGP3WfMvjB0jS5pNigFuIWj4ALwWEgxhZ+mxvjF5/FBPVd5uAxqT8dd2kUmTVK9+yQJ4CmTmSg/sXAQ=="
    crossorigin=""></script>
	<script src="/dist/bundle.js"></script>
</body>
</html>