<main class="contenedor panel-administracion">
  <h1><%= pageName %></h1>

  <div class="contenedor-botones">
      <a href="/create-group" class="btn btn-amarillo">Nuevo Grupo</a>
      <a href="/new-meeti" class="btn btn-azul">Nuevo Meeti</a>
      <a href="/edit-profile" class="btn btn-rosa">Editar Perfil</a>
      <a href="/profile-image" class="btn btn-amarillo">Imagen Perfil</a>
  </div>

  <div class="seccion-admin">
    <h2>Tus Eventos</h2>
    <ul>
      <li>
        <div class="informacion-admin">
          <p class="fecha">Jueves 09 de abril de 2020</p>
          <h3>Node.js conf</h3>
          <small>23 asistentes</small>
        </div>
        <div class="acciones contenedor-botones">
          <a href="#" class="btn btn-verde">Editar</a>
          <a href="#" class="btn btn-azul2">Asistentes</a>
          <a href="#" class="btn btn-rojo">Eliminar</a>
        </div>
      </li>

      <li>
        <div class="informacion-admin">
          <p class="fecha">Viernes 10 de abril de 2020</p>
          <h3>Django conf</h3>
          <small>28 asistentes</small>
        </div>


        <div class="acciones contenedor-botones">
          <a href="#" class="btn btn-verde">Editar</a>
          <a href="#" class="btn btn-azul2">Asistentes</a>
          <a href="#" class="btn btn-rojo">Eliminar</a>
        </div>
      </li>
    </ul>
  </div>

  <div class="seccion-admin">
    <h2>Tus Grupos</h2>
    <ul>
      <li>
        <div class="informacion-admin">
          <h3>Asterdots</h3>
          <small>3 miembros</small>
        </div>
        <div class="acciones contenedor-botones">
          <a href="#" class="btn btn-verde">Editar</a>
          <a href="#" class="btn btn-azul2">Imagen</a>
          <a href="#" class="btn btn-rojo">Eliminar</a>
        </div>
      </li>
    </ul>
  </div>
</main>