<main class="contenedor contenedor-formularios">
  <h1><%= pageName %></h1>

  <form method="POST">
    <legend>¿Eliminar Grupo?</legend>
    <div class="campo enviar">
      <input type="submit" value="Eliminar Grupo" class="btn btn-rosa">
    </div>
  </form>
</main>